fastapi
uvicorn[standard]

sqlalchemy
alembic
psycopg[binary]

pydantic
pydantic-settings

python-jose[cryptography]
passlib[bcrypt]

python-multipart

python-dotenv

pandas
numpy
scikit-learn
xgboost
prophet

joblib

httpx

loguru

pytest